# Intellij/Java project files and folders
**/target/
**/.idea/
**/logs/
*.iml
*.plantuml
*.lock
*.tgz
/.
/projection.trace.db
/projection.mv.db
/libraries-books-projection.mv.db
/reservation-service-projection.mv.db
